<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxs.mapper.EmployeeMapper">
  <sql id="searchParams">
     <!-- 第二步：添加查询条件 -->
    <where>
      <if test="name!=null">
         and name like concat('%',#{name},'%')
      </if>
      <if test="sex != null">
        and sex='#{sex}'
      </if>
       <if test="bbirthday != null">
        and birthday &gt;=DATE_FORMAT(#{bbirthday},'%Y-%m-%d')
      </if>
      
       <if test="ebirthday != null">
        and birthday &lt;= #{ebirthday}
      </if>
      
       <if test=" bsalary!= null">
        and salary &gt;=#{bsalary}
      </if>
      
       <if test=" esalary!= null">
        and salary &lt;=#{esalary}
      </if>
    </where>
  </sql>
  <select id="getEmployeeList" resultType="Employee" parameterType="map">
    <!-- 第一步：打通线路，将所有信息查询出来 -->
    select * from employee 
     <include refid="searchParams"></include>
  </select>
  
  <select id="selectPage" parameterType="map" resultType="Employee">
    select * from employee 
    <include refid="searchParams"></include>
    limit #{beginNum},#{pageSize}
  </select>
  <select id="getCount" parameterType="map" resultType="int">
      select count(*) from employee
       <include refid="searchParams"></include>
  </select>
  <select id="getEmployeeById" parameterType="int" resultType="Employee">
    select * from employee where eid=${eid}
  </select>
  <update id="updateEmployee" parameterType="Employee">
    update employee 
    <set>
      name=
    </set>
  </update>
  <delete id="deleteEmployee" parameterType="int">
      delete from employee where eid=#{eid}
  </delete>
  
</mapper>