<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="4.0">
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <description></description>
    <display-name>EmployeeServelt</display-name>
    <servlet-name>EmployeeServelt</servlet-name>
    <servlet-class>com.xxs.servlet.EmployeeServelt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeServelt</servlet-name>
    <url-pattern>/employee</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>